<div class="menu-bar__container">
	<div class="menu-bar__logo">
		<img
			src="assets/ps-logo.png"
			alt="playstation logo"
			srcset=""
			width="140px"
			height="32px"
		>
	</div>
	<div class="menu-bar__item">
		<ul>
			<li><a href="https://www.youtube.com/@PlayStationBR" target="_blank">Youtube</a></li>
			<li><a href="https://www.linkedin.com/in/jailson-lima-15622a229/" target="_blank">Linkedin</a></li>
			<li><a href="https://www.github.com/juniorlima36/" target="_blank">Github</a></li>
		</ul>
	</div>
</div>
